@import url('https://fonts.googleapis.com/css2?family=Acme&family=Beiruti:wght@200..900&family=Caveat:wght@400..700&family=Changa:wght@200..800&family=Gupter:wght@400;500;700&family=Harmattan:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}



.Tabs{
 
  padding: 20px;
  height: 100vh ;

}
.flex-column{
  width: 100%;
  gap:20px;
}
.LogoTab{
  margin-bottom: 20px;
justify-content: center;
margin-left: 20px;
}
.LinkTab .active{
  background-color: #79161d !important;
}
.LinkTab{
  margin-bottom: 20px;
}
.LinkTab a{
  text-align: center;
width: 75%;
margin-left: 20px;
color: #79161d;

}

.tab-content{
  margin-left: 5%  ;
  margin-right: 5%  ;
}
.opacity-edit {
  padding-top: 5%;
}

.Title {
  text-align: left;
  padding: 20px;
}

.sub-Title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.User-Info {

  height: 80%;
  padding: 10px;
}

.Genaral {
  height: 100%;
}

.edit {


  align-items: center;
  height: 100%;



}

.profile-pic {
  padding-left: 30px;
}

.opacity-edit {
  padding-top: 5%;
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  width: 20vw;
  height: 40vh;
  margin-left: 20px;

}

.profile-pic input {
  display: none;
}

.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid #5809145f;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  z-index: 0;
}

.profile-pic .-label {
  cursor: pointer;
  width: 20vw;
  height: 40vh;
}

.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
  margin-bottom: 0;
}

.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}


.save-btn {
  margin-top: 30px;
  width: 15%;
  padding: 6px;
  margin-left: 35%;
  background: #79161d !important;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 80%;
}

.save-btn:hover {
  background: transparent;
}




/*------------------------Media Query----------------------------------------*/


@media(min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    display: block;
    height: 2%;
    display: flex;




  }
}